<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <button mat-button routerLink="/">accueil</button>
    </div>

    <div *ngIf="jwtService.getRole() == 'ADMIN'">
      <button mat-button routerLink="/admin">admin</button>
    </div>

    <div *ngIf="jwtService.isLogged()">
      <button mat-button [matMenuTriggerFor]="menuUser">{{jwtService.getUsername()}}</button>
      <mat-menu #menuUser="matMenu">
        <button mat-menu-item (click)="logout()">logout</button>
      </mat-menu>
    </div>
    <div *ngIf="!jwtService.isLogged()">
      <button mat-button (click)="loginBouton()" matTooltip="lp4/lp4 ou admin/admin">login</button>
    </div>
    <mat-icon (click)="initData()" matTooltip="Réinitialise toutes les données">data_usage</mat-icon>

  </mat-toolbar-row>

</mat-toolbar>


<mat-toolbar *ngIf="showLogin" color="secondary">

<mat-toolbar-row >
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input #usr matInput required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input #pwd matInput type="password">
    </mat-form-field>

    <button mat-button (click)="login(usr.value, pwd.value)">ok</button>
  </div>
</mat-toolbar-row>
</mat-toolbar>
