/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.info {
  background-color: #a3d5d3;
  color: hotpink;
}

.warning {
  background-color: #ff0;
  color: hotpink;
}
